/Logic_Analyzer_Simulator.X/build/
/Logic_Analyzer_Simulator.X/dist/
/RGB_LED_Assembly.X/build/
/RGB_LED_Assembly.X/dist/
/Color_Wheel_RGB.X/build/
/Color_Wheel_RGB.X/dist/
/2_7_segment_keypad.X/dist/
/2_7_segment_keypad.X/build/